body {
	background: #f6f6f6;
}

body, label {
	font-family: work-sans, sans-serif;
    font-weight: 200;
}

img {
	display: block;
	margin: 0 auto;
}

h1 {
    
	text-align: center;
    font-weight: 200;
}

